*{
  padding: 0%;
  box-sizing: border-box;
}
body {
 width: 100%;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* display: flex;
  height: 100vh;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background: linear-gradient(135deg,#fce6c3,#FBA350); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li,a,button {
  font-weight: 500;
  font-size: 16px;
  color: #FB9F48;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo{
  cursor: pointer;
  color: #f5c645;
}

.navnav {
  color: #56190C;
}

li{
  display: inline-block;
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
}
.cta{
  background-color: #FBA350;
  color: black;
  text-decoration: none;
  border: 2px solid transparent;
  font-family: 'Tangerine', serif;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .4s;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.cta :hover{
  transform:scale(1.2);
}

/* Coffees */
.box {
  background: linear-gradient(135deg, #fce6c3, #FBA350);
}
.projects{
  background: linear-gradient(135deg, #fce6c3, #FBA350);
  max-width: 1200px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1rem;
  row-gap: 1rem;
  margin:  auto;
  align-items: center;
  padding: 1.5rem;
  
}
.projo{
  color: black;
  font-size: 40px;
  font-style: italic;
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

.card{
  height: 350px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;

}
.card-content{
  width: 100%;
 padding: 10px;
 overflow-wrap: break-word;
 font-size: 14px;
}
#desc{
  width: 100%;
  text-align: center;
  word-wrap: break-word;

}
.avatar{
  height: 150px;
  width: 100%;
  object-fit: cover;

}

.price{
  color: chocolate;
  font-weight: bold;
}


/* Sign-up/Login styling */

.body-form{
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background: linear-gradient(135deg,#fce6c3,#FBA350); 
}

.container{
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}
.container.title{
  font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container.title::before{
  content: '';
  position: absolute;
  height: 3px;
  width: 30px;
  left: 0;
  bottom: 0;
  background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.container form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% /2 -20px);
}
.user-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #56190C;
}
/* Checkout */

.section {
  width: 100%;
  padding: 50px 0px;
  border-color: #FBA350;
}
.photo {
  width: 950px;
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.dp{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

/* Checkout forms */
.coffee {
  height: 100px;
  width: 100px;
}

.concept{
  background: linear-gradient(135deg, #fce6c3, #873e23);
  width: 100%;
  padding: 40px 0px;
}


